{% extends 'base.html' %}

{% block title %}Title Here{% endblock %}

  {% block stylesheet %}

  {% endblock %}


{% block content %}
    <form method="POST" class="post-form" action="/create" enctype="multipart/form-data">
            {% csrf_token %}
    <div class="container">
    <br>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-sm-4">
        <h3>Enter Details</h3>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Name:</label>
        <div class="col-sm-4">
          {{ form.name }}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Email:</label>
        <div class="col-sm-4">
          {{ form.email }}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Date of birth:</label>
        <div class="col-sm-4">
          {{ form.dob }}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employee Salary:</label>
        <div class="col-sm-4">
          {{ form.salary }}
        </div>
      </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Employee Photo:</label>
      <div class="col-sm-4">
        <img id="blah" src="" alt="" width="200px" class="blah" />
        {{ form.photo }}
      </div>
    </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">User:</label>
    <div class="col-sm-4">
      {{ form.user }}
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
</form>


{% endblock %}
